<div mat-dialog-title>
  <div class="text-center">
    <h4 class="mb-1">{{title | translate}}</h4>
    <mat-icon class="mat-icon-xlg" color="primary">warning</mat-icon>
  </div>
</div>

<div mat-dialog-content>
  <p>{{message | translate}}</p>
</div>

<div class="pb-4" fxLayoutAlign="space-between center" mat-dialog-actions>
  <button (click)="onDismiss()" mat-button>{{ 'BTN.NO' | translate }}</button>
  <button (click)="onConfirm()" color="primary" mat-raised-button>{{ 'BTN.YES' | translate }}</button>
</div>
