<footer>

  <div class="px-3">
    <div class="theme-container">
      <div class="py-3 content border-lighter">

        <div fxLayout="row wrap" fxLayoutAlign="space-between center">
          <div>
            <a class="logo" routerLink="/">
              <app-logo></app-logo>
            </a>
          </div>
          <div>
            <p class="desc text-justify">{{'FOOTER.TEXT1' | translate}}</p>
          </div>

        </div>

      </div>

      <div class="copyright" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between center">
        <p ngClass.xs="mt-1">{{'FOOTER.COPYRIGHT1' | translate}} 2023 {{'FOOTER.COPYRIGHT2' | translate}}</p>
      </div>

    </div>
  </div>

</footer>
