<mat-toolbar class="top-toolbar" id="top-toolbar">
  <div class="theme-container" fxLayout="row" fxLayoutAlign="space-between center">
    <div fxLayout="row" fxLayoutAlign="start center">
      <span fxHide="false" fxHide.gt-sm>
        <button (click)="sidenavToggle()" mat-button>
          <mat-icon class="mat-icon-md m-0">menu</mat-icon>
        </button>
      </span>
    </div>

  </div>
</mat-toolbar>
<mat-toolbar class="mat-elevation-z2" id="main-toolbar">
  <div class="theme-container" fxLayout="row" fxLayoutAlign="space-between center">
    <a class="logo" routerLink="/">
      <app-logo></app-logo>
    </a>
    <div class="horizontal-menu" fxShow="false" fxShow.gt-sm>
      <app-horizontal-menu [menuParentId]="0"></app-horizontal-menu>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center">
      <a fxShow="false" fxShow.gt-md mat-icon-button matTooltip="{{'TOOLTIP.FAV' | translate}}" routerLink="/pretplate">
        <mat-icon [matBadgeHidden]="appService.Data.pretplate.length == 0"
                  [matBadge]="appService.Data.pretplate.length"
                  matBadgeColor="warn"
                  matBadgeSize="small">favorite_border
        </mat-icon>
      </a>
      <a *ngIf="this.loginService.validateRoles(['ADMINISTRATOR'])" class="mr-3 ml-2" fxShow="false" fxShow.gt-md
         mat-icon-button matTooltip="{{'TOOLTIP.LIST_COMP' | translate}}" routerLink="/admin">
        <mat-icon matBadgeColor="warn"
                  matBadgeSize="small">supervisor_account
        </mat-icon>
      </a>
      <app-lang></app-lang>
    </div>
  </div>
</mat-toolbar>
