<div class="h-100" fxLayout="row" fxLayoutAlign="center center">
  <div fxFlex="80" fxFlex.gt-sm="30" fxFlex.sm="60">
    <div class="p-0 mat-elevation-z6 box">
      <div class="bg-primary box-header" fxLayout="column" fxLayoutAlign="center center">
        <mat-icon class="mat-icon-xlg">error</mat-icon>
        <h1 class="error">{{'STRANICE.NOT_FOUND.TITLE' | translate}}</h1>
      </div>
      <div class="box-content" fxLayout="column" fxLayoutAlign="end center">
        <div class="mat-elevation-z8 box-content-inner p-3 bg-card" fxLayout="column" fxLayoutAlign="center center">
          <p class="box-text">{{'STRANICE.NOT_FOUND.DESC' | translate}}</p>
        </div>
        <div class="box-footer">
          <button (click)="goHome()" class="mat-elevation-z8" color="primary" mat-raised-button type="button">
            <mat-icon class="mat-icon-md m-0">home</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
